@model IEnumerable<EncuestaEP.Models.Respuesta_Detalle>

@{
    ViewBag.Title = "Index";
}

<h2>Respuesta Detalle</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID Campos
        </th>
        <th>
            ID Encuesta
        </th>
        <th>
            Respuesta
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_campo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_encabezado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
